@{
    ViewBag.Title = "About this page";
    ViewBag.Message = "Demo product using .NET 4.8 to create QR";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>I forgot about detail informations...</p>
