@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Just leave me a message!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    J-STAR DEV<br />
    Email: test1133513579@gmail.com(this is a real email)
</address>
