@{
    ViewData["Title"] = "CreateQRCode";
}
<style>
    .pos-center {
        margin: 0 auto;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pos-center img {
        max-width: 95%;
        padding-bottom: 5px;
    }

    .form-group {
        margin: 10px 0;
    }

    .box-qr {
        margin-bottom: 10px;
    }
</style>

<h1>CreateQRCode</h1>

<div id="container" class="row">
    <div class="">
        <!--Text input form-->
        <div class="form-group">
            <input type="text" id="myInput" class="form-control" />
        </div>
        <div class="form-group">
            <input value="Generate QR Code" class="btn btn-primary" onclick="generateQR('myInput')" />
        </div>
        <!---->
        <br />
        <!--File input form-->
        <input type="file" id="FileUpload1" />
        <input type="button" id="btnUpload" value="Upload Files" onclick="uploadFileThenGenQR()" />
        <!---->
        <!--Single image-->
        <div id="singleImgFrame" class="container pos-center" style="visibility: hidden">
            <div class="form-group">
                <img id="codeImage" src="" class="img-thumbnail" />
            </div>
        </div>
        <div id="singleImgDownload" class="container pos-center" style="visibility: hidden">
            <a id="downloadImageButton" href="" download="ticket.png" class="btn btn-primary">Download</a>
        </div>
        <!---->
        <!--List images-->
        <div class="row" id="listImgFrame"></div>
        <!---->
    </div>
    </div>

<script>
    function generateQR(inputId) {
        if (document.getElementById(inputId).value != null) {
            var stringCode = document.getElementById(inputId).value;
            console.log(stringCode);

            $.ajax({
                url: "/Home/CreateQRCodeJob",
                data: {
                    stringCode: stringCode
                },
                success: function (data) {
                    document.getElementById('singleImgFrame').style.visibility = "visible";
                    document.getElementById('singleImgDownload').style.visibility = "visible";
                    document.getElementById('codeImage').setAttribute("src", data);
                    document.getElementById('downloadImageButton').setAttribute("href", data);
                },
                error: function () {
                    $("#loading").hide();
                    alert("Có lỗi xảy ra!");
                }
            });
        }
    }

    function uploadFileThenGenQR() {
        if (window.FormData !== undefined) {
            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;
            var fileData = new FormData();

            fileData.append(files[0].name, files[0]);

            $.ajax({
                url: '/Home/UploadFileThenGenQR',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    document.getElementById('singleImgFrame').style.visibility = "hidden";
                    const container = document.querySelector('#listImgFrame');
                    removeAllChildNodes(container);
                    document.getElementById("listImgFrame").style.visibility = "visible";
                    $('#listImgFrame').append(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    };

    function removeAllChildNodes(parent) {
        while (parent.firstChild) {
            parent.removeChild(parent.firstChild);
        }
    }
</script>
