@{
    ViewData["Title"] = "CreateQRCode";
}
<style>
    .pos-center {
        margin: 0 auto;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-group {
        margin: 10px 0;
    }

    .box-qr {
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        padding: 10px 0;
        margin: -5px;
    }
</style>

<h1>CreateQRCode</h1>

<div id="container" class="row">
    <div class="">
        <!--Text input form-->
        <div class="form-group">
            <input type="text" id="titleInput" class="form-control" placeholder="Title" />
            <br />
            <input type="text" id="codeInput" class="form-control" placeholder="Code"/>
            <br />
            <input type="text" id="priceInput" class="form-control" placeholder="Price"/>
            <br />
            <input type="date" id="expDate" class="form-control" placeholder="Expired Date" onclick="expDate.showPicker()" />
            <br />
            <select id="curStatus">
                <option value="0" selected>Avaiable</option>
                <option value="1">Used</option>
                <option value="2">Others</option>
            </select>
        </div>
        <div class="form-group">
            <input value="Generate QR Code" class="btn btn-primary" onclick="generateQR('myInput')" />
        </div>
        <!---->
        <br />

        @using (Html.BeginForm("UploadFileThenGenQR", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @Html.TextBox("file", "", new { type = "file" }) <br />
                <input type="submit" value="Upload" />
            </div>
        }
        <!---->
        <!--Single image-->
        <div id="singleImgFrame" class="container pos-center" style="visibility: hidden">
            <div class="form-group">
                <img id="codeImage" src="" class="img-thumbnail" />
            </div>
        </div>
        <div id="singleImgDownload" class="container pos-center">
            <a id="downloadImageButton" href="" download="imgService.png" class="btn btn-primary">Download</a>
        </div>
        <!---->
        <!--List images-->
        <div id="listImgFrame" class="row" style="margin: 10px 0 0 0; visibility: hidden"></div>
        <!---->
    </div>

</div>

<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function generateQR(inputId) {
        var title = document.getElementById('titleInput').value;
        var stringCode = document.getElementById('codeInput').value;
        var price = document.getElementById('priceInput').value;
        var curStatus = document.getElementById('curStatus').value;
        var expDate = document.getElementById('expDate').value;

        $.ajax({
            url: "/Home/CreateQRCodeJob",
            data: {
                title: title,
                stringCode: stringCode,
                price: price,
                curStatus: curStatus,
                expDate: expDate
            },
            success: function (data) {
                document.getElementById('singleImgFrame').style.visibility = "visible";
                document.getElementById('singleImgDownload').style.visibility = "visible";
                document.getElementById('codeImage').setAttribute("src", data.fileData);
                document.getElementById('downloadImageButton').setAttribute("download", data.fileName);
                document.getElementById('downloadImageButton').setAttribute("href", data.fileData);

                let downloadFunc = function () {
                    let i = 1;
                    while (i <= 5) {
                        (function (i) {
                            downloadImage(data.fileData, i);
                        })(i++)
                    }
                };

                //downloadFunc();
            },
            error: function () {
                $("#loading").hide();
                alert("Có lỗi xảy ra!");
            }
        });
    }

    async function downloadImage(imageSrc, i) {
        const response = await fetch(imageSrc);
        const blobImage = await response.blob();
        const href = URL.createObjectURL(blobImage);


        let newWin = window.open(href);
        const newWinAnchor = document.createElement('a');
        newWinAnchor.href = href;
        newWinAnchor.download = 'img-' + i;
        newWinAnchor.target = '_blank';

        @*newWinAnchor.body.appendChild(newWinAnchor);*@
        newWinAnchor.onload = function () { this.document.body.appendChild(newWinAnchor); };

        newWinAnchor.dispatchEvent(
            new MouseEvent('click', {
                bubbles: true,
                cancelable: true,
                view: window
            })
        );


        @*const anchorElement = document.createElement('a');
        anchorElement.href = href;
        anchorElement.download = 'img-' + i;
        anchorElement.target = '_blank';

        document.body.appendChild(anchorElement);

        anchorElement.dispatchEvent(
            new MouseEvent('click', {
                bubbles: true,
                cancelable: true,
                view: window
            })
        );*@

        @*setTimeout(() => {
            
        }, 100);*@

        window.URL.revokeObjectURL(href);
        @*anchorElement.remove();*@
        newWin.close();

        //anchorElement.click();


        @*let newWin = window.open('https://www.google.com');
        const anchorElement = newWin.createElement('a');
        newWin.href = href;
        newWin.download = nameOfDownload;
        newWin.target = '_blank';

        newWin.body.appendChild(anchorElement);
        anchorElement.click();*@
        //document.body.removeChild(anchorElement);
        //window.URL.revokeObjectURL(href);
    }
</script>
