@{
    ViewData["Title"] = "CreateQRCode";
}
<style>
    /* Style QR generater view */
    .lst-pos-center {
        margin: 0 auto;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lst-pos-center img {
        max-width: 95%;
        padding-bottom: 5px;
    }

    .pos-center {
        margin: 0 auto;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }

    .pos-center img {
        max-width: 95%;
        padding-bottom: 5px;
    }

    .form-group {
        margin: 10px 0;
    }

    .box-qr {
        margin-bottom: 10px;
    }

   
    /* Style the Image Used to Trigger the Modal */
    img {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    img:hover {opacity: 0.7;}

    /* The Modal (background) */
    #image-viewer {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
        text-align: center;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 100%;
    }
    .modal-content {
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    @@keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }

    #image-viewer .close:hover,
    #image-viewer .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @@media only screen and (max-width: 100%){
        .modal-content {
            width: 100%;
        }
    }

    #full-image {
        pointer-events: none;
    }
</style>

<h1>CreateQRCode</h1>

<div id="container" class="row">
    <div class="">
        <!--Text input form-->
        <div class="form-group">
            <input type="text" id="myInput" class="form-control" />
        </div>
        <div class="form-group">
            <input value="Generate QR Code" class="btn btn-primary" onclick="generateQR('myInput')" />
        </div>
        <!---->
        <br />
        <!--File input form-->
        <input type="file" id="FileUpload1" />
        <input type="button" id="btnUpload" value="Upload Files" onclick="uploadFileThenGenQR()" />
        <!---->
        <!--Single image-->
        <div id="singleImgFrame" class="container pos-center" style="visibility: hidden">
            <div class="form-group images">
                <img id="codeImage" src="" class="img-thumbnail" onclick="viewImage(this.id);"/>
            </div>
        </div>
        <div id="singleImgDownload" class="container pos-center" style="visibility: hidden">
            <a id="downloadImageButton" href="" download="ticket.png" class="btn btn-primary">Download</a>
        </div>
        <!---->
        <!--List images-->
        <div class="row images" id="listImgFrame"></div>
        <!---->
    </div>
    <div id="image-viewer">
        <div style="position: fixed; font-size: 30px; color: #fff; top: 8%; right: 3%" onclick="closeImageView();">X</div>
        <img class="modal-content" id="full-image">
    </div>
</div>

<script>
    function generateQR(inputId) {
        if (document.getElementById(inputId).value != null) {
            var stringCode = document.getElementById(inputId).value;
            console.log(stringCode);

            $.ajax({
                url: "/Home/CreateQRCodeJob",
                data: {
                    stringCode: stringCode
                },
                success: function (data) {
                    document.getElementById("listImgFrame").style.visibility = "hidden";
                    document.getElementById("listImgFrame").style.height = "0";

                    document.getElementById('singleImgFrame').style.visibility = "visible";
                    document.getElementById("singleImgFrame").style.height = "auto";

                    document.getElementById('singleImgDownload').style.visibility = "visible";
                    document.getElementById("singleImgDownload").style.height = "auto";

                    document.getElementById('codeImage').setAttribute("src", data);
                    document.getElementById('downloadImageButton').setAttribute("href", data);
                },
                error: function () {
                    $("#loading").hide();
                    alert("Có lỗi xảy ra!");
                }
            });
        }
    };

    function uploadFileThenGenQR() {
        if (window.FormData !== undefined) {
            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;
            var fileData = new FormData();

            fileData.append(files[0].name, files[0]);

            $.ajax({
                url: '/Home/UploadFileThenGenQR',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    document.getElementById("singleImgFrame").style.visibility = "hidden";
                    document.getElementById('singleImgFrame').style.height = "0";

                    document.getElementById("singleImgDownload").style.visibility = "hidden";
                    document.getElementById('singleImgDownload').style.height = "0";

                    document.getElementById("listImgFrame").style.visibility = "visible";
                    document.getElementById("listImgFrame").style.height = "auto";

                    const container = document.querySelector('#listImgFrame');
                    removeAllChildNodes(container);
                    $('#listImgFrame').append(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    };

    function removeAllChildNodes(parent) {
        while (parent.firstChild) {
            parent.removeChild(parent.firstChild);
        }
    };

    function viewImage(imageId) {
        $("#full-image").attr("src", document.getElementById(imageId).getAttribute("src"));
        $('#image-viewer').show();
        document.getElementById('image-viewer').style.visibility = 'visible';
    };

    function closeImageView() {
        $('#image-viewer').hide();
        document.getElementById('image-viewer').style.visibility = 'hidden';
    };
</script>
