@{
    ViewData["Title"] = "CreateQRCode";
}
<style>
    .pos-center {
        margin: 0 auto;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-group {
        margin: 10px 0;
    }

    .box-qr {
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        padding: 10px 0;
        margin: -5px;
    }
</style>

<h1>CreateQRCode</h1>

<div id ="container" class="row">
    <div class="">
        <!--Text input form-->
        <div class="form-group">
            <input type="text" id="myInput" class="form-control" />
        </div>
        <div class="form-group">
            <input value="Generate QR Code" class="btn btn-primary" onclick="generateQR('myInput')" />
        </div>
        <!---->
        <br />
        <!--Upload file input form-->
        @*<h2>Import file and generate QR:</h2>
        <input type="file" id="myFile" name="file" />
        <button class="btn btn-primary" onclick="uploadFileThenGenQR('myFile');">Upload File & Gen QR</button>*@


        @using (Html.BeginForm("UploadFileThenGenQR", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @Html.TextBox("file", "", new { type = "file" }) <br />
                <input type="submit" value="Upload" />
            </div>
        }
        <!---->
        <!--Single image-->
        <div id="singleImgFrame" class="container pos-center" style="visibility: hidden">
            <div class="form-group">
                <img id="codeImage" src="" class="img-thumbnail" />
            </div>
        </div>
        <div id="singleImgDownload" class="container pos-center" style="visibility: hidden">
            <a id="downloadImageButton" href="" download="imgService.png" class="btn btn-primary" style="display: none">Download</a>
        </div>
        <!---->
        <!--List images-->
        <div id="listImgFrame" class="row" style="margin: 10px 0 0 0; visibility: hidden"></div>
        <!---->
    </div>
</div>

<script>
    function generateQR(inputId) {
        if (document.getElementById(inputId).value != null) {
            var stringCode = document.getElementById(inputId).value;
            console.log(stringCode);

            $.ajax({
                url: "/Home/CreateQRCodeJob",
                data: {
                    stringCode: stringCode
                },
                success: function (data) {
                    document.getElementById('singleImgFrame').style.visibility = "visible";
                    document.getElementById('singleImgDownload').style.visibility = "visible";
                    document.getElementById('codeImage').setAttribute("src", data.fileData);
                    document.getElementById('downloadImageButton').setAttribute("download", data.fileName);
                    document.getElementById('downloadImageButton').setAttribute("href", data.fileData);
                    document.getElementById('downloadImageButton').click();
                },
                error: function () {
                    $("#loading").hide();
                    alert("Có lỗi xảy ra!");
                }
            });
        }
    }

    @*function uploadFileThenGenQR(inputId) {
        let fileElement = document.getElementById(inputId)

        // check if user had selected a file
        if (fileElement.files.length === 0) {
            alert('please choose a file')
            return
        }

        let file = fileElement.files[0]
        let formData = new FormData();
        formData.set('file', file);

        console.log(formData);
        console.log(typeof(formData));

        $.ajax(
            {
                url: "/Home/UploadFileThenGenQR",
                data: {
                    file: formData
                },
                cache: false,
                processData: false,
                success: function (data) {
                    document.getElementById('listImgFrame').style.visibility = "visible";
                    $("#listImgFrame").append(data);
                }
            }
        );
    }*@
</script>
