@model DemoWatermark_dotNET4dot8.Models.GenerateQRCodeModel

<style>
    .pos-center {
        margin: 0 auto;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pos-center img {
        max-width: 95%;
        padding-bottom: 5px;
    }

    .form-group {
        margin: 10px 0;
    }

    .box-qr {
        margin-bottom: 10px;
    }
</style>

<h1>List QR images</h1>

<div class="row">
    <div class="">
        @if (ViewBag.listDisplay != null && ViewBag.listDisplay.Count > 0)
        {
            <div class="row">
                @foreach (var item in ViewBag.listDisplay)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 box-qr">
                        <div class="pos-center">
                            <img src="@item.QRCodeUri"/>
                        </div>
                        <div class="pos-center">
                            <a id="download + @item.No" style="" download="qr-@item.No" href="@item.LinkDownload" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>